.input-group {
	display: grid;
	margin-bottom: 1em;
	grid-template-columns: minmax(70px, max-content) auto minmax(40px, max-content);
	.input-group-addon {
		&:first-child {
			border-right: 0;
			border-bottom-right-radius: 0;
	    border-top-right-radius: 0;
		}
		background: #eee;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 6px 12px;
	}
	input {
		box-sizing: border-box;
		border: 1px solid #ccc;
		padding: 5px;
		font-size: 16px;
		&:focus {
			outline: none;
			border: 1px solid rgba(0, 184, 139, .5);
		}
	}
	button {
		flex: 1;
		max-width: 100px;
		color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
		border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	}
}